body{
	font-family: 'Roboto', sans-serif !important;
	overflow-x: hidden;
}

#map {
    height:250px;
    width:100%;
}

.mg-top-big{
	margin-top: 100px;
}

.mg-bot-big{
	margin-bottom: 150px;
}

.signCenterRefugee{
	border: 2px solid white;
	text-decoration: none;
	height: 67px;
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

.signCenterRefugee:hover, .signCenterRefugee:active, .signCenterRefugee:link {
	background: white;
	color: #193446;
}

.back{
	background: #193446;
	height: 67px;
	padding-top: 18px;
	padding-bottom: 18px;
	width: 50%;
	color: white;
	font-size: 15px;
	margin-top: 100px;
	max-width: 200px
}

.centertext{
	text-align: center;
}

.dark-overlay{
	background: rgba(0, 0, 0, 0.6);
}

.jumbotron-background{
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(https://images.unsplash.com/photo-1466201249030-41e3ad750419?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);

		/* Full height */
		height: 750px !important; 
		
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
}

.verticalAlign{
	padding: 18px;
}

.center-background{
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(https://images.unsplash.com/photo-1466201249030-41e3ad750419?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);					
	/* Full height */
	height: 750px !important; 
				
				/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: background 300ms ease-in 200ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}

.centerSignIn-background{
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(https://images.unsplash.com/photo-1466201249030-41e3ad750419?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);			
	/* Full height */
	height: 750px !important; 
				
				/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: background 300ms ease-in 200ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}

.signUpCenter{
	border-radius: 5px;
	padding: 100px 50px;
	background: rgba(0, 0, 0, 0.6);	
}

.signInCenter{
	border-radius: 5px;	
	margin-top:100px;
	padding: 100px 150px;
	background: rgba(0, 0, 0, 0.6);	
}

@media only screen and (max-device-width: 480px) {
	.signInCenter{
		margin-top:100px;
		padding: 100px 40px;
	}

	.signUpCenter{
		padding: 100px 40px;
	}		
}

.margin-bottom-sm{
	margin-bottom: 20px;
}

.bigHeader{
	text-align: center;
	color: white !important;
	font-size: 73px !important;
	font-weight: 500 !important;
	font-family: 'Roboto', sans-serif !important;
	margin-bottom: 20px !important;
}

.signInHeader{
	text-align: center;
	color: white !important;
	font-size: 73px !important;
	font-weight: 500 !important;
	font-family: 'Roboto', sans-serif !important;
	margin-bottom: 20px !important;
}

.signInInfo{
	text-align: center;
	color: white !important;
	font-size: 18px !important;
	font-weight: normal !important;
	font-family: 'Roboto', sans-serif !important;
	margin-bottom: 40px !important;
}

.signIn{
	border: 3px solid white;
	text-decoration: none;
	height: 100px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
.signIn:hover, .signIn:active, .signIn:link {
	background: white;
	color: #193446;
}

@media only screen and (max-device-width: 480px) {
	.signIn{
		margin-top: 40px;
	}	
}

a, a:hover, a:link, a:active{
	text-decoration: none;
}

.brdright {
	border-right: 1px solid #DDDDDD;
}

.info {
	padding-bottom: 10px;
}

.btn {
	margin-right: 10px; 
}

/* POUR NAVBAR */

.navbar-collapse.in {
    overflow: hidden;
    max-height: none;
    height: auto;
}
/* Style barre de navigation */
.navbar-default {
	background-color: #4285f4;
}
/* Texte dans la barre de navigation */
.navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
}
/* Style hover pour texte dans la barre de navigation*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: white;
	font-weight: bold;
	background: #125bd1;
}
#no-hover:hover,
#no-hover:focus {
	background-color: transparent;
}
/* Style bouton langue */
.navbar-default .navbar-nav > li > a {
	color: white;
	text-align: center; 
}
/* Style hover bouton langue */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #125bd1;
	color: white;
}
/* Style pour bouton accueil */
.navbar-default .navbar-nav > .active > a {
	color: white;
	background: #125bd1;
}
/* Style hover pour bouton accueil */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background: #125bd1;
}
small{
    color:red;  
}
 
.invalid{
    border:1px solid #ff0000
}

.footer{
	background: #193446;
}	

.footer-padding{
	padding: 50px;
}

.footer-content{
	font-size: 14px;
	color: white;
	font-weight: 400;
	font-family: 'Roboto', sans-serif !important;
}