#map {
    height:250px;
    width:100%;
}


#signin {
	height:200px;
	border-style:solid;
	border-color: black;
	border-width: 3px;
	border-radius: 20px;
}

.brdright {
	border-right: 1px solid #DDDDDD;
}

.info {
	padding-bottom: 10px;
}

.btn {
	margin-right: 10px; 
}

/* POUR NAVBAR */

.navbar-collapse.in {
    overflow: hidden;
    max-height: none;
    height: auto;
}
/* Style barre de navigation */
.navbar-default {
	background-color: #4285f4;
}
/* Texte dans la barre de navigation */
.navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
}
/* Style hover pour texte dans la barre de navigation*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: white;
	font-weight: bold;
	background: #125bd1;
}
#no-hover:hover,
#no-hover:focus {
	background-color: transparent;
}
/* Style bouton langue */
.navbar-default .navbar-nav > li > a {
	color: white;
	text-align: center; 
}
/* Style hover bouton langue */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #125bd1;
	color: white;
}
/* Style pour bouton accueil */
.navbar-default .navbar-nav > .active > a {
	color: white;
	background: #125bd1;
}
/* Style hover pour bouton accueil */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background: #125bd1;
}
